<!DOCTYPE html>
<!-- Inicio del documento HTML con el idioma principal como español -->
<html lang="es">
<head>
  <!-- Seccion de encabezado del documento -->
  <!-- Codificación de caracteres UTF-8 -->
  <meta charset="utf-8">
  <!-- Configuracion de la visualizacion en dispositivos y escala inicial -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Titulo de la pgina -->
  <title>Contacto</title>
  <!-- Enlace a la hoja de estilos externa en la carpeta "css" -->
  <link rel="stylesheet" href="../css/estilos.css">
  <!-- Inclusion de script externo desde el archivo "script.js" -->
  <script src="script.js"></script>
  <!-- Descripcion de la pagina para  los motores de busqueda -->
  <meta name="description" content="descripcion de la pagina">
  <!-- Enlace al icono que aparecera en la pestaña del navegador -->
  <link rel="icon" href="/favicon.png" type="image/x-icon">
</head>
  <body class="BODY">
    <!-- Encabezado de la página -->
    <header> 
        <!-- Título principal de la sección -->
        <h1 class="Titulo1">Contacto</h1>
        <!-- Navegación de la página -->
        <nav>
        <div class="nav">
          <!-- Enlace al indice -->
          <span class="boton">
            <a href="../index.html" class="active3">Indice</a>
          </span>
          <!-- Enlace a la sección de presupuestos -->
          <span class="boton">
            <a href="../views/presupuestos.html" class="active4">Presupuestos</a>
          </span>
          <!-- Enlace a la seccion de contacto (actual) -->
          <span class="boton">
            <a href="../views/contacto.html" class="active2">Contacto</a>
          </span>
          <!-- Enlace a la sección de productos -->
          <span class="boton">
            <a href="../views/productos.html" class="active4">Productos</a>
          </span>
        </div>
      </nav>
  </header>
  <!-- Contenido principal de la pagina -->
  <main>
    <!-- Seccion de Ubicacion -->
    <div>
        <!-- Título de la sección de Ubicacion -->
        <h6 class="h6">Ubicacion</h6>
        <!-- Imagen de la ubicacion -->
        <img class="ubi" src="../img/mapview.jpeg" alt="img-ubicacion">
    </div>
    <!-- Seccion de Datos de la Empresa -->
    <div class="datos">
        <!-- Informacion detallada de la empresa -->
        <p>Nombre de la Empresa: Company, S.A. de C.V.
           Industria: Tecnología
           Dirección: 123 Calle Principal, Ciudad Empresa, País
           Teléfono: +1 (555) 123-4567
           Correo Electrónico: info@company.com
           Descripción de la Empresa:
           Company es una empresa innovadora en el campo de la tecnología,
           especializada en el desarrollo de soluciones avanzadas para empresas y consumidores.
           Nuestro enfoque se centra en ofrecer productos y servicios de alta calidad que impulsen el éxito y la eficiencia de nuestros clientes.  
           Equipo Directivo:
           John Smith
           Jane Doe
           Alex Johnson
            Redes Sociales:
            - Twitter: @CompanyTech
            - LinkedIn: linkedin.com/company/company-tech
            - Facebook: facebook.com/CompanyTech
            
            Sitio Web: https://www.company.com
            </p>
    </div>
  </main>