<!DOCTYPE html>
<!-- Inicio del documento HTML con el idioma principal como español -->
<html lang="es">
<head>
  <!-- Seccion de encabezado del documento -->
  <!-- Codificación de caracteres UTF-8 -->
  <meta charset="utf-8">
  <!-- Configuracion de la visualizacion en dispositivos y escala inicial -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Titulo de la pgina -->
  <title>Productos</title>
  <!-- Enlace a la hoja de estilos externa en la carpeta "css" -->
  <link rel="stylesheet" href="../css/estilos.css">
  <!-- Inclusion de script externo desde el archivo "script.js" -->
  <script src="script.js"></script>
  <!-- Descripcion de la pagina para  los motores de busqueda -->
  <meta name="description" content="descripcion de la pagina">
  <!-- Enlace al icono que aparecera en la pestaña del navegador -->
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <body class="BODY">
    <!-- Encabezado de la pagina -->
    <header class="header">
        <!-- Titulo principal de la seccion -->
        <h1 class="Titulo1">Productos</h1>
        <!-- Navegacion de la página -->
        <nav>
            <div class="nav">
                <!-- Enlace al indice -->
                <span class="boton">
                    <a href="../index.html" class="active3">Indice</a>
                </span>
                <!-- Enlace a la seccin de presupuestos -->
                <span class="boton">
                    <a href="../views/presupuestos.html" class="active1">Presupuestos</a>
                </span>
                <!-- Enlace a la seccion de contacto -->
                <span class="boton">
                    <a href="../views/contacto.html" class="enlace3">Contacto</a>
                </span>
                <!-- Enlace a la seccion de productos (actual) -->
                <span class="boton">
                    <a href="../views/productos.html" class="active2">Productos</a>
                </span>
            </div>
        </nav>
    </header>
    <!-- Contenido principal de la pagina -->
    <div class="tabla">
        <!-- Tabla de imagenes de productos -->
        <table>
            <tr>
                <!-- Celda con imagen de juego -->
                <td><img src="../img/darck.png" alt="imgjuego"></td>
                <td><img src="../img/demons.png" alt="imgjuego"></td>
                <td><img src="../img/final.png" alt="imgjuego"></td>
                <td><img src="../img/horizon.png" alt="imgjuego"></td>
            </tr>
            <tr>
                <td><img src="../img/darck.png" alt="imgjuego"></td>
                <td><img src="../img/demons.png" alt="imgjuego"></td>
                <td><img src="../img/final.png" alt="imgjuego"></td>
                <td><img src="../img/horizon.png" alt="imgjuego"></td>
            </tr>
        </table>
    </div>
</body>
</html>
